<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="|${#request.getContextPath()}/|">
    <meta charset="UTF-8">
    <title>文章查询</title>
</head>
<body>
    <h3>文章查询</h3>
    <a href="articletoadd">去新加</a>
    <div th:text="${msg}" th:if="${msg} != null"></div>
    <form action="articlequery" method="post">
        文章标题:<input name="articleTitle" th:value="${#request.getParameter('articleTitle')}">
        文章内容:<input name="articleContent" th:value="${#request.getParameter('articleContent')}">
        <input type="submit" value="查询">
        <table border="1" width="100%">
            <tr>
                <th>序号</th><th>文章编号</th><th>文章标题</th><th>文章发表时间</th><th>发表作者</th><th>文章内容</th><th>操作</th>
            </tr>
            <tr th:each="a,st:${p.content}">
                <td th:text="${st.count}"></td>
                <td th:text="${a.articleId}"></td>
                <td th:text="${a.articleTitle}"></td>
                <td th:text="${a.articleDt}"></td>
<!--                <td th:text="${a.user.uname}"></td>-->
                <td th:text="${a.articleContent}"></td>
                <td>
                    <a th:href="|articleget/${a.articleId}|">详情</a>
                    <a th:href="|articledel/${a.articleId}|" onclick="return confirm('你确定删除吗？')">删除</a>
                </td>
            </tr>
        </table>
        <div th:replace="pagination::fenpage" class="fenpage"></div>
    </form>
</body>
</html>