<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户新加</title>
</head>
<body>
    <h3>用户新加</h3>
    <a href="userquery">去查询</a>
    <form action="useradd" method="post">
        <table>
            <tr>
                <td>用户名称:</td>
                <td><input name="uname"></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input name="password" type="password"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="新加">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>